# Lets df and viz your sql data

In [1]:
# Import numpy, pandas and pymysql sqlalchemy (following what you have learned in previous lessons):
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pymysql'

# Challenge 1 - Load and Evaluate the Datasets

#### In this challenge we will load data from MySQL Sakila database or MySQL bank database (or any other DB); by querying and evaluating the results returned using MySQL we can be selective about the data used to make visualisation with seaborn/matplotlib very easy. Ideally you want to bring some data from SQL into python which will allow you to plot a trend or comparison. 

In the cell below, create a mysql engine for your local mysql instance and include your username, password and database schema name by creating a variable connection string following the following pattern:

create_engine(‘dialect+driver://username:password@host:port/database’)

This is the format to create the connection string and engine for a local mysql connection

> connection_string = 'mysql+pymysql://root:' + 'password' + '@localhost/DB'

- replace root with your username and password with your password
- replace DB with database name 

> engine = create_engine(connection_string)

In [ ]:
# Your code here:
import getpass
mysqlpassword=getpass.getpass()
connection_string = 'mysql+pymysql://root:' + mysqlpassword + '@localhost/bank'
engine = create_engine(connection_string)

Use this connection to load data with a sql query which connects the target tables in your database using joins, selects the fields you wish to work with and any aggregation columns + grouping / window function new columns or filters by where/having as appropriate. You can draw on any of the labs or lessons to establish what your query should look like. Its ok if this stage is a little trial and error but I recommend testing the query in your MySql client to ensure it returns the results you want!

In [ ]:
# Your code here:
df= pd.read_sql_query('select * from client c join disp d using (client_id) join account a using (account_id) join card  using (disp_id) group by card.type order by card.type desc', engine)
df

once you have your sql query worked out, make sure you turn your query response into a pandas dataframe in the format 

> df = pd.read_sql_query(query, engine)

In [ ]:
# Your code here:
d1= pd.read_sql_query("""select account_id, c.district_id, frequency, A2, A3,client_id from account a
join district d 
on a.district_id = d.A1
join client c
on d.A1 = c.district_id
order by c.client_id  """,engine)
d1

#### Let's start examining the dataset to ensure we have the data we want to visualise.

First look at the first five rows using the `head` function.

In [ ]:
# Your code here:

d1.head(5)

Next, lets use the `info` function to see the dtypes and row counts

In [ ]:
# Your code here:
d1.info()

Next, we'll examine the `describe` function to see the descriptive statistics for the numeric variables.

In [ ]:
# Your code here:
d1.describe()

#### At this stage it may be necessary to load another set of data with an additional mysql query and repeat the stages above - perhaps you are thinking to join the results of your two queries together or you think that both should be visualised separately to answer the question you came up with?

Do this in the following 3 cells below.

In [ ]:
d2= pd.read_sql_query("""select c.client_id, dp.account_id, c.district_id, l.loan_id, l.amount, 
dt.A2 as district_name
from client c
join disp dp 
on c.client_id = dp.client_id
join loan l
on dp.account_id = l.account_id
join district dt
on c.district_id = dt.A1
where dp.type = 'OWNER'
order by c.client_id; """, engine)
d2

In [ ]:
d3=pd.concat([d1,d2])
d3

In [ ]:
# Your code here:
d4= pd.read_sql_query("""select c.client_id, dp.account_id, c.district_id, l.loan_id, l.amount, l.payments,
concat(dt.A2,' ',dt.A3) as district_name
from client c
join disp dp 
on c.client_id = dp.client_id
join loan l
on dp.account_id = l.account_id
join district dt
on c.district_id = dt.A1
where dp.type = 'OWNER'
order by c.client_id; """, engine)

# d4['date'] = pd.to_datetime(d4['date'], format='YYmmdd')
#select l.amount, l.account_id,date_format(convert(date,date), '%M-%Y-%d') as 'Date',l.payments, c.district_id,c.client_id
#from loan l 
#join disp d
#using(account_id)
#join client c
#using(client_id)
#where d.type = 'OWNER'
#order by c.client_id;

d4

#### Exploratory Data Analysis
You might benefit from doing some elementary EDA at this stage before jumping into plotting data, as this can help you grasp the shape, diversity and gaps in the data you have selected. This is a timesaver!

For this task you can use matplotlib/seaborn so you will need to import them, then work with : 

- df.hist()
- sns.boxplot(x=df["colname"])

In [ ]:
# Your code here (import visual libraries)
import matplotlib as pl
import seaborn as sns

In [ ]:
# Your code here (histogram all numericals)

d4.hist('amount')

In [ ]:
# Your code here (box plot to see outliers for specific columns)

sns.boxplot(x=d1['client_id'])

### Optional - if you are using more than one sql query 

If you decided to load two dataframes from two separate mysql queries and need to merge them using the merge concat or join functions, do so now. You can follow [this tutorial](https://realpython.com/pandas-merge-join-and-concat/) for more information about bringing dataframes together

In [2]:
# your code here 
merge=pd.merge(d4,d1, on=["account_id"])
merge

NameError: name 'pd' is not defined

# Challenge 2 - Export your data frame as a csv 

Export df to a csv file using the `df.to_csv` function, filtered if suitable, excluding any columns which are not useful for further analysis

In [ ]:
# Your code here:
merge.to_csv('C:\\Users\hecto\PreWorks\W3/merge-data.csv',index=False)

# Challenge 3: Visualise relationships or trends found in the data

At this stage you can visualise the data in your chosen tool, Tableau, Excel, Python(matploitlib,seaborn)

**Business Question**: think about what are the question(s) you want to answer with the data you have gathered from the MySQL database. Make the question as specific as possible 
- for example, are childrens films rented more frequently on weekends than comedies?

**Visuals**: Think about what plot type best supports answering your question(s). Each plot/ visualisation should have an appropriate title, legend and axis labels, so the meaning is as clear as possible without needing a caption. Make use of colour pallettes ! dont just create a blue plot :)

# I like to know if there are any correlation between districts and payments.

In [ ]:
# (if plotting in python) Your code here: 
merge.plot.scatter(x='district_id',y='amount_x,loan_id_x',c='green')

- We can see that there's not correlation in this case.