In [1]:
import pandas as pd
df=pd.DataFrame({'A':['Wednesday', 'THURSDAY']})
df

           A
0  Wednesday
1   THURSDAY

In [2]:
def make_lower(x):
    return x.lower()

In [3]:
list(map(make_lower, df['A']))

['wednesday', 'thursday']

In [4]:
df['A'].apply(make_lower)

0    wednesday
1     thursday
Name: A, dtype: object

In [5]:
str(10)
list(map(str, [1,2,3,4,5,6]))

['1', '2', '3', '4', '5', '6']

In [6]:
def square_it(x):
    return x**2

In [7]:
list(map(square_it, [1,2,3,4,5,6]))

[1, 4, 9, 16, 25, 36]

In [11]:
def judge_groceries(x,y):
    return f"Whats is this? A {x},{y}!"

In [12]:
fruits=['apple','kiwi','cherry','sprouts']
words=['yummy','yummy', 'meh', 'yummy']

In [13]:
list(map(judge_groceries, fruits, words))

['Whats is this? A apple,yummy!',
 'Whats is this? A kiwi,yummy!',
 'Whats is this? A cherry,meh!',
 'Whats is this? A sprouts,yummy!']

In [14]:
[square_it(i) for i in [1,2,3,4,5,6]]

[1, 4, 9, 16, 25, 36]

In [15]:
list(filter(lambda x: x<0, [-1,2,-5,10,2,-19]))

[-1, -5, -19]

In [16]:
df.groupby('A')

In [17]:
df= pd.DataFrame({'A':[21,-10,-15,50,32], 'B':['wed','wed','tue','mon','tue']})

In [18]:
df.groupby('B').agg({'A':'sum' })

      A
B
mon  50
tue  17
wed  11

In [21]:
df.groupby('B').apply(['A'].sum() )

AttributeError: 'list' object has no attribute 'sum'

In [23]:
from functools import reduce

In [24]:
reduce((lambda x, y:x*y), [1,2,3,4,5,6])

720

In [25]:
reduce((lambda x, y:x+y), [1,2,3,4])

10

In [26]:
res=0
for num in [1,2,3,4]:
    res += num
    
res

10

In [30]:
reduce(lambda a, d: 10*a+d,[1,2,3,4,5,6], 10 )

10123456

In [33]:
reduce((lambda x,y: x*y),[2,3],4)

24

In [ ]:
### what is it good for DA.