In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel('Sales Report 02-11-2020 _ 01-15-2020.xlsx')

In [3]:
df.head()

,Delivery number,Goods,Product Code,Brand,Vendore Code,Size,Barcode,Document Type,Quantity,Sales Tax,...,-Internal,Retail price after the agreed discount,To be paid for goods,"To be paid for goods, Sales Tax",Number of Deliveries,Number of Returns,"Cost of logistics, inc.sales tax",Box Type,Discount,Promo Code
0,1634517,Yarn,15120240,Alpine Fair,nzo1-wr/wb,39-41,2000541272018,Sale,0,0,...,1809546947,0.0,0.0,0,1,0,20,Mix,0,0
1,1625587,Socks,15120240,Alpine Fair,nzo1-wr/wb,36-38,2000541272001,Sale,0,0,...,1791240995,0.0,0.0,0,1,0,20,Mix,0,0
2,1625587,Socks,15226402,Alpine Fair,mz14-wrbbg,36-38,2000550776002,Sale,0,0,...,1791275077,0.0,0.0,0,1,0,20,Mix,0,0
3,1625587,Socks,15226402,Alpine Fair,mz14-wrbbg,36-38,2000550776002,Sale,0,0,...,1791252391,0.0,0.0,0,1,0,20,Mix,0,0
4,1625587,Socks,15120240,Alpine Fair,nzo1-wr/wb,36-38,2000541272001,Sale,0,0,...,1791240801,0.0,0.0,0,1,0,20,Mix,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 833 entries, 0 to 832
Data columns (total 32 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Delivery number                         833 non-null    int64
 1   Goods                                   833 non-null    object
 2   Product Code                            833 non-null    int64
 3   Brand                                   833 non-null    object
 4   Vendore Code                            833 non-null    object
 5   Size                                    833 non-null    object
 6   Barcode                                 833 non-null    int64
 7   Document Type                           833 non-null    object
 8   Quantity                                833 non-null    int64
 9   Sales Tax                               833 non-null    int64
 10  Cost                                    833 non-null    int64
 11  Selling Price                           833 non-null    int64
 12  Sales                                   833 non-null    float64
 13  Sales commission amount                 833 non-null    float64
 14  Discount Approved                       833 non-null    float64
 15  Comission percentage                    833 non-null    float64
 16  Buyer Reward                            833 non-null    int64
 17  Seller Reward                           833 non-null    float64
 18  Warehouse                               833 non-null    object
 19  Payment for                             833 non-null    object
 20  Order Date                              833 non-null    object
 21  Sales Date                              833 non-null    object
 22  -Internal                               833 non-null    int64
 23  Retail price after the agreed discount  833 non-null    float64
 24  To be paid for goods                    833 non-null    float64
 25  To be paid for goods, Sales Tax         833 non-null    int64
 26  Number of Deliveries                    833 non-null    int64
 27  Number of Returns                       833 non-null    int64
 28  Cost of logistics, inc.sales tax        833 non-null    int64
 29  Box Type                                833 non-null    object
 30  Discount                                833 non-null    int64
 31  Promo Code                              833 non-null    int64
dtypes: float64(7), int64(15), object(10)
memory usage: 208.4+ KB

In [5]:
d1=pd.read_excel('Sales Report 19-10-2020 _ 01-11-2020.xlsx')

In [6]:
d1.head()

,Delivery number,Goods,Product Code,Brand,Vendore Code,Size,Barcode,Document Type,Quantity,Sales Tax,...,-Internal,Retail price after the agreed discount,To be paid for goods,"To be paid for goods, Sales Tax",Number of Deliveries,Number of Returns,"Cost of logistics, inc.sales tax",Box Type,Discount,Promo Code
0,1103132,Yarn,12475428,Alpine Fair,jl4-gray,36-38,4650100001900,Sale,0,0,...,1154509596,0.0,0.0,0,1,0,20,Mono,0,0
1,1103132,Socks,12475424,Alpine Fair,jl11-white,36-38,4650100001702,Sale,0,0,...,1154509496,0.0,0.0,0,1,0,20,Mix,0,0
2,1103132,Socks,12668977,Alpine Fair,ml2-black,39-41,2000341070098,Sale,0,0,...,1154509502,0.0,0.0,0,1,0,20,Mix,0,0
3,1103132,Socks,12475428,Alpine Fair,jl4-gray,36-38,4650100001900,Sale,1,0,...,1154509596,308.0,261.8,0,0,0,0,No Boxes,30,20
4,1103132,Socks,12475428,Alpine Fair,jl4-gray,36-38,4650100001900,Sale,0,0,...,1154509590,0.0,0.0,0,1,0,20,No Boxes,0,0

In [7]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 904 entries, 0 to 903
Data columns (total 32 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Delivery number                         904 non-null    int64
 1   Goods                                   904 non-null    object
 2   Product Code                            904 non-null    int64
 3   Brand                                   904 non-null    object
 4   Vendore Code                            904 non-null    object
 5   Size                                    904 non-null    object
 6   Barcode                                 904 non-null    int64
 7   Document Type                           904 non-null    object
 8   Quantity                                904 non-null    int64
 9   Sales Tax                               904 non-null    int64
 10  Cost                                    904 non-null    int64
 11  Selling Price                           904 non-null    int64
 12  Sales                                   904 non-null    float64
 13  Sales commission amount                 904 non-null    float64
 14  Discount Approved                       904 non-null    float64
 15  Comission percentage                    904 non-null    float64
 16  Buyer Reward                            904 non-null    int64
 17  Seller Reward                           904 non-null    float64
 18  Warehouse                               904 non-null    object
 19  Payment for                             904 non-null    object
 20  Order Date                              904 non-null    object
 21  Sales Date                              904 non-null    object
 22  -Internal                               904 non-null    int64
 23  Retail price after the agreed discount  904 non-null    float64
 24  To be paid for goods                    904 non-null    float64
 25  To be paid for goods, Sales Tax         904 non-null    int64
 26  Number of Deliveries                    904 non-null    int64
 27  Number of Returns                       904 non-null    int64
 28  Cost of logistics, inc.sales tax        904 non-null    int64
 29  Box Type                                904 non-null    object
 30  Discount                                904 non-null    int64
 31  Promo Code                              904 non-null    int64
dtypes: float64(7), int64(15), object(10)
memory usage: 226.1+ KB

In [8]:
d2=pd.read_excel('Sales Report 31-10-2020 _ 08-11-2020.xlsx')

In [9]:
d2.head()

,Delivery number,Goods,Product Code,Brand,Vendore Code,Size,Barcode,Document Type,Quantity,Sales Tax,...,-Internal,Retail price after the agreed discount,To be paid for goods,"To be paid for goods, Sales Tax",Number of Deliveries,Number of Returns,"Cost of logistics, inc.sales tax",Box Type,Discount,Promo Code
0,1559962,Socks,15120239,Alpine Fair,nzo1-wb/wg,39-41,2000541272032,Sale,0,0,...,1730338812,0.0,0.00,0,1,0,20,No Boxes,0,0
1,1559962,Yarn,14764392,Alpine Fair,pr1-dgray,0,4630109270408,Sale,0,0,...,1730671784,0.0,0.00,0,1,0,30,Mono,0,0
2,1595575,Yarn,12694659,Alpine Fair,pr1-white,0,4630109270309,Sale,1,0,...,1764250443,220.5,194.04,0,0,0,0,No Boxes,30,25
3,1595575,Yarn,12694659,Alpine Fair,pr1-white,0,4630109270309,Sale,0,0,...,1764254099,0.0,0.00,0,1,0,30,No Boxes,0,0
4,1595575,Yarn,12694659,Alpine Fair,pr1-white,0,4630109270309,Sale,0,0,...,1764252912,0.0,0.00,0,1,0,30,Mono,0,0

In [10]:
d2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 32 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Delivery number                         748 non-null    int64
 1   Goods                                   748 non-null    object
 2   Product Code                            748 non-null    int64
 3   Brand                                   748 non-null    object
 4   Vendore Code                            748 non-null    object
 5   Size                                    748 non-null    object
 6   Barcode                                 748 non-null    int64
 7   Document Type                           748 non-null    object
 8   Quantity                                748 non-null    int64
 9   Sales Tax                               748 non-null    int64
 10  Cost                                    748 non-null    int64
 11  Selling Price                           748 non-null    int64
 12  Sales                                   748 non-null    float64
 13  Sales commission amount                 748 non-null    float64
 14  Discount Approved                       748 non-null    float64
 15  Comission percentage                    748 non-null    float64
 16  Buyer Reward                            748 non-null    int64
 17  Seller Reward                           748 non-null    float64
 18  Warehouse                               748 non-null    object
 19  Payment for                             748 non-null    object
 20  Order Date                              748 non-null    object
 21  Sales Date                              748 non-null    object
 22  -Internal                               748 non-null    int64
 23  Retail price after the agreed discount  748 non-null    float64
 24  To be paid for goods                    748 non-null    float64
 25  To be paid for goods, Sales Tax         748 non-null    int64
 26  Number of Deliveries                    748 non-null    int64
 27  Number of Returns                       748 non-null    int64
 28  Cost of logistics, inc.sales tax        748 non-null    int64
 29  Box Type                                748 non-null    object
 30  Discount                                748 non-null    int64
 31  Promo Code                              748 non-null    int64
dtypes: float64(7), int64(15), object(10)
memory usage: 187.1+ KB

In [11]:
sales=pd.concat([df,d1,d2])

In [12]:
sales.head()

,Delivery number,Goods,Product Code,Brand,Vendore Code,Size,Barcode,Document Type,Quantity,Sales Tax,...,-Internal,Retail price after the agreed discount,To be paid for goods,"To be paid for goods, Sales Tax",Number of Deliveries,Number of Returns,"Cost of logistics, inc.sales tax",Box Type,Discount,Promo Code
0,1634517,Yarn,15120240,Alpine Fair,nzo1-wr/wb,39-41,2000541272018,Sale,0,0,...,1809546947,0.0,0.0,0,1,0,20,Mix,0,0
1,1625587,Socks,15120240,Alpine Fair,nzo1-wr/wb,36-38,2000541272001,Sale,0,0,...,1791240995,0.0,0.0,0,1,0,20,Mix,0,0
2,1625587,Socks,15226402,Alpine Fair,mz14-wrbbg,36-38,2000550776002,Sale,0,0,...,1791275077,0.0,0.0,0,1,0,20,Mix,0,0
3,1625587,Socks,15226402,Alpine Fair,mz14-wrbbg,36-38,2000550776002,Sale,0,0,...,1791252391,0.0,0.0,0,1,0,20,Mix,0,0
4,1625587,Socks,15120240,Alpine Fair,nzo1-wr/wb,36-38,2000541272001,Sale,0,0,...,1791240801,0.0,0.0,0,1,0,20,Mix,0,0

In [13]:
sales.shape

(2485, 32)

In [14]:
print(df.columns.tolist())

['Delivery number ', 'Goods', 'Product Code', 'Brand', 'Vendore Code', 'Size', 'Barcode', 'Document Type', 'Quantity', 'Sales Tax', 'Cost', 'Selling Price', 'Sales', 'Sales commission amount', 'Discount Approved', 'Comission percentage', 'Buyer Reward', 'Seller Reward', 'Warehouse', 'Payment for', 'Order Date', 'Sales Date', '-Internal', 'Retail price after the agreed discount', 'To be paid for goods', 'To be paid for goods, Sales Tax', 'Number of Deliveries', 'Number of Returns', 'Cost of logistics, inc.sales tax', 'Box Type', 'Discount', 'Promo Code']

In [15]:
pd.options.display.max_columns = None

In [16]:
sales.head()

,Delivery number,Goods,Product Code,Brand,Vendore Code,Size,Barcode,Document Type,Quantity,Sales Tax,Cost,Selling Price,Sales,Sales commission amount,Discount Approved,Comission percentage,Buyer Reward,Seller Reward,Warehouse,Payment for,Order Date,Sales Date,-Internal,Retail price after the agreed discount,To be paid for goods,"To be paid for goods, Sales Tax",Number of Deliveries,Number of Returns,"Cost of logistics, inc.sales tax",Box Type,Discount,Promo Code
0,1634517,Yarn,15120240,Alpine Fair,nzo1-wr/wb,39-41,2000541272018,Sale,0,0,0,0,0.0,0.0,0.0,0.0,0,0.0,Podolsk,Logistics,2020-11-15T00:00:00+03:00,2020-11-15T00:00:00+03:00,1809546947,0.0,0.0,0,1,0,20,Mix,0,0
1,1625587,Socks,15120240,Alpine Fair,nzo1-wr/wb,36-38,2000541272001,Sale,0,0,0,0,0.0,0.0,0.0,0.0,0,0.0,Podolsk,Logistics,2020-11-10T00:00:00+03:00,2020-11-10T00:00:00+03:00,1791240995,0.0,0.0,0,1,0,20,Mix,0,0
2,1625587,Socks,15226402,Alpine Fair,mz14-wrbbg,36-38,2000550776002,Sale,0,0,0,0,0.0,0.0,0.0,0.0,0,0.0,Podolsk,Logistics,2020-11-10T00:00:00+03:00,2020-11-10T00:00:00+03:00,1791275077,0.0,0.0,0,1,0,20,Mix,0,0
3,1625587,Socks,15226402,Alpine Fair,mz14-wrbbg,36-38,2000550776002,Sale,0,0,0,0,0.0,0.0,0.0,0.0,0,0.0,Podolsk,Logistics,2020-11-10T00:00:00+03:00,2020-11-10T00:00:00+03:00,1791252391,0.0,0.0,0,1,0,20,Mix,0,0
4,1625587,Socks,15120240,Alpine Fair,nzo1-wr/wb,36-38,2000541272001,Sale,0,0,0,0,0.0,0.0,0.0,0.0,0,0.0,Podolsk,Logistics,2020-11-09T00:00:00+03:00,2020-11-09T00:00:00+03:00,1791240801,0.0,0.0,0,1,0,20,Mix,0,0

In [17]:
(sales['To be paid for goods, Sales Tax']==0).sum()

2485

In [18]:
(sales['To be paid for goods']==0).sum()

1284

In [19]:
(sales['Retail price after the agreed discount']==0).sum()

1284

In [20]:
(sales['Seller Reward']==0).sum()

1284

In [21]:
(sales['Buyer Reward']==0).sum()

2485

In [22]:
(sales['Comission percentage']==0).sum()

1284

In [23]:
(sales['Discount Approved']==0).sum()

1284

In [24]:
(sales['Sales commission amount']==0).sum()

1284

In [25]:
(sales['Cost']==0).sum()

2485

In [26]:
(sales['Sales']==0).sum()

1284

In [27]:
(sales['Selling Price']==0).sum()

1284

In [28]:
sales['To be paid for goods, Sales Tax'].mean()

0.0

In [29]:
sales['Number of Returns'].mean()

0.01609657947686117

In [30]:
(sales['Number of Returns']==0).sum()

2445

In [31]:
(sales['Discount']==0).sum()

1424

In [32]:
(sales['Discount']).sum()

26020

In [33]:
(sales['Promo Code']==0).sum()

1284

In [34]:
(sales['Promo Code']).sum()

20145

In [35]:
(sales['Sales Tax']==0).sum()

2485

In [36]:
(sales['Quantity']==0).sum()

1284

In [37]:
sales.drop(['Sales Tax','To be paid for goods', 'Sales Tax','Cost','Buyer Reward','To be paid for goods', 'Sales Tax'], axis=1, inplace=True)

In [38]:
sales.shape

(2485, 28)

In [39]:
sales.head()

,Delivery number,Goods,Product Code,Brand,Vendore Code,Size,Barcode,Document Type,Quantity,Selling Price,Sales,Sales commission amount,Discount Approved,Comission percentage,Seller Reward,Warehouse,Payment for,Order Date,Sales Date,-Internal,Retail price after the agreed discount,"To be paid for goods, Sales Tax",Number of Deliveries,Number of Returns,"Cost of logistics, inc.sales tax",Box Type,Discount,Promo Code
0,1634517,Yarn,15120240,Alpine Fair,nzo1-wr/wb,39-41,2000541272018,Sale,0,0,0.0,0.0,0.0,0.0,0.0,Podolsk,Logistics,2020-11-15T00:00:00+03:00,2020-11-15T00:00:00+03:00,1809546947,0.0,0,1,0,20,Mix,0,0
1,1625587,Socks,15120240,Alpine Fair,nzo1-wr/wb,36-38,2000541272001,Sale,0,0,0.0,0.0,0.0,0.0,0.0,Podolsk,Logistics,2020-11-10T00:00:00+03:00,2020-11-10T00:00:00+03:00,1791240995,0.0,0,1,0,20,Mix,0,0
2,1625587,Socks,15226402,Alpine Fair,mz14-wrbbg,36-38,2000550776002,Sale,0,0,0.0,0.0,0.0,0.0,0.0,Podolsk,Logistics,2020-11-10T00:00:00+03:00,2020-11-10T00:00:00+03:00,1791275077,0.0,0,1,0,20,Mix,0,0
3,1625587,Socks,15226402,Alpine Fair,mz14-wrbbg,36-38,2000550776002,Sale,0,0,0.0,0.0,0.0,0.0,0.0,Podolsk,Logistics,2020-11-10T00:00:00+03:00,2020-11-10T00:00:00+03:00,1791252391,0.0,0,1,0,20,Mix,0,0
4,1625587,Socks,15120240,Alpine Fair,nzo1-wr/wb,36-38,2000541272001,Sale,0,0,0.0,0.0,0.0,0.0,0.0,Podolsk,Logistics,2020-11-09T00:00:00+03:00,2020-11-09T00:00:00+03:00,1791240801,0.0,0,1,0,20,Mix,0,0

In [41]:
df['Vendore Code'].unique()

array(['nzo1-wr/wb', 'mz14-wrbbg', 'pr1-5-dgray', 'pr1-dgray',
       'pr1-white', 'mz7-black', 'mz11j-white', 'mz11j-wh/gr',
       'mz7-dgray', 'pr1-5-white', 'nzo1-wb/wg', 'nzo1-gw/bg',
       'mz11-dgray', 'mz11-black', 'mz11j-lgray', 'pr2-dbeige',
       'mz23-gray', 'jl28-linen', 'jl2-linen', 'jl17-beige', 'jl17-black',
       'jl11-black', 'jl4-gray', 'jl11-white'], dtype=object)

In [48]:
df['Vendore Code'].nunique() #count distinct values

24

In [49]:
df['Warehouse'].nunique()

5

In [40]:
sales.to_excel(r'sales.xlsx', index=False)