In [2]:
import pandas as pd 
import numpy as np

In [3]:
df=pd.read_excel('supplier-goods-newest-16680-2020-10-26-2020-11-15-qjcegykxn.xlsx')

In [5]:
pd.options.display.max_columns = None

In [6]:
df.head()

,Brand,Goods,Season,Collection,Item Name,Vendore Code,Product Code,Bar Code,Size,Contract,Warehouse,"Received, pc.","Received, cost","Ordered, pc.","Ordered, cost","Purchased, pc.","Purchased, cost","Current balance, pc.",Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Alpine Fair,Yarn,All Season,NaN,"Носки, мягкий след, 6 пар",ml17-black,12668975,2.000341e+12,39-41,Agent Contract IE Korkmazov A.Kh.,Krasnodar,0,0,0,0.0,0,0.0,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alpine Fair,Socks,All Season,NaN,"Носки, мягкий след, 6 пар",ml17-white,12668976,2.000341e+12,45-46,Agent Contract IE Korkmazov A.Kh.,Krasnodar,0,0,0,0.0,0,0.0,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alpine Fair,Socks,All Season,NaN,"Носки из верблюжьей шерсти, 2 пары",nzv1-dbeige,17666015,2.000861e+12,45-46,Agent Contract IE Korkmazov A.Kh.,Podolsk,0,0,0,0.0,0,0.0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alpine Fair,Socks,Winter,NaN,"Носки женские, 6 пар",jl4-gray,12475428,4.650100e+12,39-41,Agent Contract IE Korkmazov A.Kh.,Podolsk,0,0,0,0.0,0,0.0,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alpine Fair,Socks,All Season,NaN,"Носки женские, 6 пар",jl4-white,12475429,4.650100e+12,39-41,Agent Contract IE Korkmazov A.Kh.,Krasnodar,0,0,0,0.0,0,0.0,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Brand                 168 non-null    object
 1   Goods                 168 non-null    object
 2   Season                142 non-null    object
 3   Collection            0 non-null      float64
 4   Item Name             168 non-null    object
 5   Vendore Code          168 non-null    object
 6   Product Code          168 non-null    int64
 7   Bar Code              167 non-null    float64
 8   Size                  168 non-null    object
 9   Contract              168 non-null    object
 10  Warehouse             168 non-null    object
 11  Received, pc.         168 non-null    int64
 12  Received, cost        168 non-null    int64
 13  Ordered, pc.          168 non-null    int64
 14  Ordered, cost         168 non-null    float64
 15  Purchased, pc.        168 non-null    int64
 16  Purchased, cost       168 non-null    float64
 17  Current balance, pc.  168 non-null    int64
 18  Unnamed: 18           0 non-null      float64
 19  Unnamed: 19           0 non-null      float64
 20  Unnamed: 20           0 non-null      float64
 21  Unnamed: 21           0 non-null      float64
 22  Unnamed: 22           0 non-null      float64
 23  Unnamed: 23           0 non-null      float64
 24  Unnamed: 24           0 non-null      float64
 25  Unnamed: 25           0 non-null      float64
dtypes: float64(12), int64(6), object(8)
memory usage: 34.2+ KB

In [9]:
df.shape

(168, 26)

In [11]:
df.drop(['Collection','Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25'], axis=1, inplace=True)

In [12]:
df.shape

(168, 17)

In [13]:
df.head()

,Brand,Goods,Season,Item Name,Vendore Code,Product Code,Bar Code,Size,Contract,Warehouse,"Received, pc.","Received, cost","Ordered, pc.","Ordered, cost","Purchased, pc.","Purchased, cost","Current balance, pc."
0,Alpine Fair,Yarn,All Season,"Носки, мягкий след, 6 пар",ml17-black,12668975,2.000341e+12,39-41,Agent Contract IE Korkmazov A.Kh.,Krasnodar,0,0,0,0.0,0,0.0,14
1,Alpine Fair,Socks,All Season,"Носки, мягкий след, 6 пар",ml17-white,12668976,2.000341e+12,45-46,Agent Contract IE Korkmazov A.Kh.,Krasnodar,0,0,0,0.0,0,0.0,6
2,Alpine Fair,Socks,All Season,"Носки из верблюжьей шерсти, 2 пары",nzv1-dbeige,17666015,2.000861e+12,45-46,Agent Contract IE Korkmazov A.Kh.,Podolsk,0,0,0,0.0,0,0.0,8
3,Alpine Fair,Socks,Winter,"Носки женские, 6 пар",jl4-gray,12475428,4.650100e+12,39-41,Agent Contract IE Korkmazov A.Kh.,Podolsk,0,0,0,0.0,0,0.0,14
4,Alpine Fair,Socks,All Season,"Носки женские, 6 пар",jl4-white,12475429,4.650100e+12,39-41,Agent Contract IE Korkmazov A.Kh.,Krasnodar,0,0,0,0.0,0,0.0,17

In [15]:
(df['Received, pc.']==0).sum()

143

In [16]:
(df['Received, cost']==0).sum()

143

In [17]:
(df['Ordered, pc.']==0).sum()

105

In [18]:
(df['Ordered, cost']==0).sum()

105

In [19]:
(df['Purchased, pc.']==0).sum()

115

In [20]:
(df['Purchased, cost']==0).sum()

115

In [31]:
df['Warehouse'].unique()

array(['Krasnodar', 'Podolsk', 'Saint Petersburg', 'Novosibirsk', 'Kazan',
       'Ekaterinburg'], dtype=object)

In [32]:
df['Contract'].unique()

array(['Agent Contract IE Korkmazov A.Kh.', '0100-1545 Agent'],
      dtype=object)

In [21]:
df.to_excel('supplier-goods-newest.xlsx')

In [22]:
d4=pd.read_excel('report_2021_7_21.xlsx')

In [23]:
d4.head()

,Brand,Week,Day,Vendore Code,Current Balance,"Sales, pc.","Sales, rub.","Ordered goods, pc.",Cost of the goods ordered
0,Alpine Fair,44,2020-10-26,pr2-dbeige,0,1,437.82,1,437.82
1,Alpine Fair,44,2020-10-26,jl2-linen,0,1,338.85,0,0.00
2,Alpine Fair,44,2020-10-26,nzo1-wb/wg,0,2,869.04,7,2824.38
3,Alpine Fair,44,2020-10-26,ml2-1-black,0,0,0.00,1,338.85
4,Alpine Fair,44,2020-10-26,nzo1-gw/bg,0,4,1738.08,3,1303.56

In [24]:
d4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Brand                      319 non-null    object
 1   Week                       319 non-null    int64
 2   Day                        319 non-null    datetime64[ns]
 3   Vendore Code               319 non-null    object
 4   Current Balance            319 non-null    int64
 5   Sales, pc.                 319 non-null    int64
 6   Sales, rub.                319 non-null    float64
 7   Ordered goods, pc.         319 non-null    int64
 8   Cost of the goods ordered  319 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 22.6+ KB

In [25]:
(d4['Current Balance']==0).sum()

303

In [26]:
(d4['Current Balance']).sum()

1289

In [29]:
d4['Week'].unique()

array([44, 45, 46], dtype=int64)