# Subsetting and Descriptive Stats

## Before your start:
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in IronHack's database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [4]:
# import libraries here
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Challenge 1
#### In this challenge we will use the `temp_states`  dataset. 

#### First import it into a dataframe called `temp`.

In [5]:
# your code here
temp=pd.read_csv('Temp_States.csv')

#### Print `temp`.

In [6]:
# your code here
temp.head()

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [7]:
# your code here
temp.dtypes

City            object
State           object
Temperature    float64
dtype: object

In [8]:
# We have City and State how Categorical data and Temperataure of this how Numerical float data to analises. 
# Probabily we need to get dummies with our Categoriacal data for anilize all questions.

#### Select the rows where state is New York.

In [9]:
temp.loc[temp['State']=='New York']

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### What is the average temperature of cities in New York?

In [10]:
NY=temp.loc[temp['State']=='New York']
np.mean(NY['Temperature'])

10.74074074074074

#### Which states and cities have a temperature above 15 degrees Celsius?

In [11]:
temp.loc[temp['Temperature']>15]

       City        State  Temperature
0       NYC     New York    19.444444
3  Hartford  Connecticut    17.222222
5    Treton   New Jersey    22.222222
6    Newark   New Jersey    20.000000

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [12]:
temp.loc[temp['Temperature']>15, 'City']

0         NYC
3    Hartford
5      Treton
6      Newark
Name: City, dtype: object

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [13]:
temp.loc[(temp['Temperature']>15) & (temp['Temperature']<20), 'City']

0         NYC
3    Hartford
Name: City, dtype: object

#### Find the mean and standard deviation of the temperature of each state.

In [14]:
# The mean for states are:
temp.groupby('State')['Temperature'].mean()

State
Connecticut    15.833333
New Jersey     21.111111
New York       10.740741
Name: Temperature, dtype: float64

In [15]:
# The Std for each State is:
temp.groupby('State')['Temperature'].std()

State
Connecticut    1.964186
New Jersey     1.571348
New York       8.133404
Name: Temperature, dtype: float64

# Challenge 2

#### Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [16]:
employees=pd.read_csv('Employee.csv')
emp=employees

#### Explore the data types of the `employees` dataframe. Comment your results.

In [17]:
emp.dtypes

Name          object
Department    object
Education     object
Gender        object
Title         object
Years          int64
Salary         int64
dtype: object

In [18]:
emp.head()

     Name Department Education Gender      Title  Years  Salary
0    Jose         IT  Bachelor      M    analyst      1      35
1   Maria         IT    Master      F    analyst      2      30
2   David         HR    Master      M    analyst      2      30
3   Sonia         HR  Bachelor      F    analyst      4      35
4  Samuel      Sales    Master      M  associate      3      55

In [19]:
# We have a Years and Salary how Numerical data and the rest data are Categorical and we can link together for each kind without name.

#### What's the average salary in this company?

In [20]:
emp['Salary'].mean()

48.888888888888886

#### What's the highest salary?

In [21]:
emp['Salary'].max()

70

#### What's the lowest salary?

In [22]:
emp['Salary'].min()

30

#### Who are the employees with the lowest salary?

In [23]:
emp.loc[emp['Salary']==30]['Name']

1    Maria
2    David
Name: Name, dtype: object

#### Find all the information about an employee called David.

In [24]:
emp.loc[emp['Name']=='David']

    Name Department Education Gender    Title  Years  Salary
2  David         HR    Master      M  analyst      2      30

#### Could you return only David's salary?

In [25]:
emp[emp['Name']=='David']['Salary']

2    30
Name: Salary, dtype: int64

#### Print all the rows where job title is associate.

In [26]:
emp[emp['Title']=='associate']

     Name Department Education Gender      Title  Years  Salary
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
7   Pedro         IT       Phd      M  associate      7      60

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [27]:
# Method 1
emp.head(3)

    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

In [28]:
# Method 2
print(emp[:3])

    Name Department Education Gender    Title  Years  Salary
0   Jose         IT  Bachelor      M  analyst      1      35
1  Maria         IT    Master      F  analyst      2      30
2  David         HR    Master      M  analyst      2      30

#### Find the employees whose title is associate and whose salary is above 55.

In [29]:
emp[(emp['Title']=='associate')&(emp['Salary']>55)]

    Name Department Education Gender      Title  Years  Salary
7  Pedro         IT       Phd      M  associate      7      60

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [30]:
emp.groupby('Years')['Salary'].mean()

Years
1    35.000000
2    38.333333
3    55.000000
4    35.000000
7    60.000000
8    70.000000
Name: Salary, dtype: float64

####  What is the average salary per title?

In [31]:
emp.groupby('Title')['Salary'].mean()

Title
VP           70.000000
analyst      32.500000
associate    56.666667
Name: Salary, dtype: float64

####  Find the salary quartiles.

In [32]:
emp.Salary.quantile([.25,.5,.75])

0.25    35.0
0.50    55.0
0.75    60.0
Name: Salary, dtype: float64

#### Is the mean salary different per gender?

In [33]:
emp.groupby('Gender')['Salary'].mean()

Gender
F    47.5
M    50.0
Name: Salary, dtype: float64

In [34]:
# There are a -5% that female in front male.

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [35]:
emp.groupby('Department')['Salary','Years'].min()

<ipython-input-35-52aaed3d1838>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  emp.groupby('Department')['Salary','Years'].min()

            Salary  Years
Department
HR              30      2
IT              30      1
Sales           55      2

In [36]:
emp.groupby('Department')['Salary','Years'].mean()

<ipython-input-36-afc0d84afb7a>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  emp.groupby('Department')['Salary','Years'].mean()

            Salary     Years
Department
HR           45.00  4.666667
IT           48.75  4.500000
Sales        55.00  2.500000

In [37]:
emp.groupby('Department')['Salary','Years'].max()

<ipython-input-37-598101c25e21>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  emp.groupby('Department')['Salary','Years'].max()

            Salary  Years
Department
HR              70      8
IT              70      8
Sales           55      3

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [38]:
emp.groupby('Department')['Salary'].apply(lambda x: x.max()-x.min())

Department
HR       40
IT       40
Sales     0
Name: Salary, dtype: int64

# Challenge 3
#### Open the `orders` dataset. Name your dataset `orders`.

In [39]:
orders=pd.read_csv('Orders.csv')

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [40]:
orders.dtypes

Unnamed: 0        int64
InvoiceNo         int64
StockCode        object
year              int64
month             int64
day               int64
hour              int64
Description      object
Quantity          int64
InvoiceDate      object
UnitPrice       float64
CustomerID        int64
Country          object
amount_spent    float64
dtype: object

In [41]:
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [42]:
"""
your comments here
"""

'\nyour comments here\n'

####  What is the average purchase price?

In [43]:
orders['UnitPrice'].mean()

3.116174480549152

#### What are the highest and lowest purchase prices?

In [44]:
orders['UnitPrice'].max()
# Max. price

8142.75

In [45]:
orders['UnitPrice'].min()
# Min. price

0.0

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [46]:
orders.CustomerID.loc[orders['Country']=='Spain']

4250      12557
4251      12557
4252      12557
4253      12557
4254      12557
          ...
394733    17097
394734    17097
394735    17097
394736    17097
394737    17097
Name: CustomerID, Length: 2485, dtype: int64

#### How many customers do we have in Spain?

In [47]:
orders.loc[orders['Country']=='Spain'].count()
# In Spain have 2485 customers

Unnamed: 0      2485
InvoiceNo       2485
StockCode       2485
year            2485
month           2485
day             2485
hour            2485
Description     2485
Quantity        2485
InvoiceDate     2485
UnitPrice       2485
CustomerID      2485
Country         2485
amount_spent    2485
dtype: int64

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [57]:
customer50=orders.groupby('CustomerID').agg({'Quantity':'sum'}).reset_index()  
customer50[customer50['Quantity']>50]

      CustomerID  Quantity
0          12346     74215
1          12347      2458
2          12348      2341
3          12349       631
4          12350       197
...          ...       ...
4333       18278        66
4335       18281        54
4336       18282       103
4337       18283      1397
4338       18287      1586

[4091 rows x 2 columns]

#### Select orders from Spain that include more than 50 items.

In [70]:
orders([orders['Country']=='Spain']) & ([orders.sum['Quantity']>50])

TypeError: 'DataFrame' object is not callable

In [73]:
orders('Country'=='Spain' & orders.sum('Quantity')>50)

UndefinedVariableError: name 'Spain' is not defined

In [68]:
customerS=orders.groupby('Country')=='Spain'
cs50=customerS.sum['Quantity']>50

AttributeError: 'bool' object has no attribute 'sum'

#### Select all free orders.

In [ ]:
# your code here

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
# your code here

#### Select all `lunch bag` orders made in 2011.

In [ ]:
# your code here

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your code here

#### Select all orders made in the month of August.

In [ ]:
# your code here

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
# your code here

#### What's the  average amount of money spent by country?

In [ ]:
# your code here

#### What's the most expensive item?

In [ ]:
# your code here

#### What is the average amount spent per year?

In [ ]:
# your code here