In [1]:
from scipy.stats import ttest_1samp
from scipy.stats import norm # z distribution
import math

In [2]:
# define variables
sample_mean=80.94
pop_mean=85
sampl_std=11.6
n=25

In [3]:
# calculate the t statistic
statistic= (sample_mean-pop_mean)/(sampl_std/(math.sqrt(n-1)))
statistic

-1.7146428199482255

In [4]:
# 0.05 conventional threshold -> critical value
critical_value=norm.ppf(0.05)
critical_value

-1.6448536269514729

In [5]:
# on the one tailed t test we have evidence of a statiscally significant 
# difference in the means - reject NULL
# p value is it less than 0.05?
p_value=norm.cdf(statistic)
p_value
# Cumulative distribution function cdf - on the test

0.04320536648684992

SUMMARY
from our two tests - t test and p value
accept our Ha - the boys are underweight

In [6]:
sample_mean=89.2
pop_mean=85
pop_std=11.6
n=25

statistic= (sample_mean-pop_mean)/(sampl_std/(math.sqrt(n-1)))
statistic

1.773768434429199

In [14]:
# two tailed test

critical_value=norm.ppf(0.025,24)
critical_value

22.040036015459947

In [20]:
import pandas as pd
data=pd.read_excel('anova_class_example_data.xlsx', sheet_name='data_collected')
data.head(1)

   Display_design  Percent_increase_in_sales
0               1                        575

In [18]:
import  statsmodels.api as sm
from statsmodels.formula.api import ols #ordinary least squares

In [21]:
model=ols('Percent_increase_in_sales ~ C(Display_design)',data=data).fit()

In [22]:
results_table=sm.stats.anova_lm(model)

In [23]:
results_table

                     df    sum_sq       mean_sq          F        PR(>F)
C(Display_design)   3.0  66870.55  22290.183333  66.797073  2.882866e-09
Residual           16.0   5339.20    333.700000        NaN           NaN