In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('cropland-use-over-the-long-term.csv')    # import csv file
df.head()

   Entity Code   Year  Cropland (HYDE (2017))
0  Africa  NaN -10000                   0.000
1  Africa  NaN  -9000                   0.000
2  Africa  NaN  -8000                   0.000
3  Africa  NaN  -7000                7711.773
4  Africa  NaN  -6000              164918.400

In [4]:
df['1800']=df['Year']==1800

In [5]:
df.head()

   Entity Code   Year  Cropland (HYDE (2017))   1800
0  Africa  NaN -10000                   0.000  False
1  Africa  NaN  -9000                   0.000  False
2  Africa  NaN  -8000                   0.000  False
3  Africa  NaN  -7000                7711.773  False
4  Africa  NaN  -6000              164918.400  False

In [6]:
data_1800 = df[df["Year"]==1800]["Cropland (HYDE (2017))"]

In [7]:
data_2016 = df[df["Year"]==2016]["Cropland (HYDE (2017))"]

In [8]:
data_names = df[df["Year"]==2016]["Entity"]

In [9]:
from operator import sub

Difference = pd.DataFrame({"Area":list(data_names), 
             "1800": list(data_1800),
             "2016": list(data_2016),
             "increment": list(map(sub, list(data_2016), list(data_1800)))})

In [10]:
Difference

,Area,1800,2016,increment
0,Africa,4.759523e+07,2.969721e+08,2.493768e+08
1,Brazil,3.283524e+05,8.229720e+07,8.196885e+07
2,Canada,4.343760e+05,4.791243e+07,4.747805e+07
3,China,7.683762e+07,1.222081e+08,4.537048e+07
4,Europe (excl. Russia),1.245841e+08,1.874225e+08,6.283840e+07
5,Greenland,0.000000e+00,0.000000e+00,0.000000e+00
6,India,7.680356e+07,1.685900e+08,9.178644e+07
7,Latin America and the Caribbean (excl. Brazil),1.616282e+07,1.178819e+08,1.017190e+08
8,Middle East,7.451354e+06,3.447023e+07,2.701888e+07
9,Oceania,9.560106e+04,5.160291e+07,5.150731e+07
10,Rest of Asia (excl. India & China),4.055478e+07,2.064787e+08,1.659239e+08
11,Russia,3.250276e+07,1.221229e+08,8.962014e+07
12,United States,7.865080e+06,1.546247e+08,1.467596e+08
13,World,4.312157e+08,1.592584e+09,1.161368e+09

In [11]:
Difference.to_csv('C:\\Users\hecto\PreWorks\W4/Difference.csv')

In [14]:
dfp=pd.read_csv('population.csv')

In [15]:
dfp.head()

        Entity Code  Year  Total population (Gapminder, HYDE & UN)
0  Afghanistan  AFG  1800                                  3280000
1  Afghanistan  AFG  1801                                  3280000
2  Afghanistan  AFG  1802                                  3280000
3  Afghanistan  AFG  1803                                  3280000
4  Afghanistan  AFG  1804                                  3280000

In [22]:
dfp.rename(columns={'Entity':'Country','Total population (Gapminder, HYDE & UN)':'Population'},inplace=True, errors='raise')

In [23]:
dfp.head()

       Country Code  Year  Population
0  Afghanistan  AFG  1800     3280000
1  Afghanistan  AFG  1801     3280000
2  Afghanistan  AFG  1802     3280000
3  Afghanistan  AFG  1803     3280000
4  Afghanistan  AFG  1804     3280000

In [24]:
dfp_1800 = dfp[dfp["Year"]==1800]['Population']

In [25]:
dfp_2019 = dfp[dfp["Year"]==2019]["Population"]

In [26]:
country = dfp[dfp["Year"]==2016]["Country"]

In [28]:
dfp_1800

0          3280000
257       85589224
342         410445
562        2503218
852           2654
           ...
45712      6551000
46101    989818304
46223      2593000
46443       747000
46663      1085814
Name: Population, Length: 204, dtype: int64

In [29]:
dfp_2019

219        38042000
341      1308064000
561         2881000
781        43053000
851           55000
            ...
46071        582000
46222    7713467904
46442      29162000
46662      17861000
46882      14645000
Name: Population, Length: 242, dtype: int64

In [30]:
country

216         Afghanistan
338              Africa
558             Albania
778             Algeria
848      American Samoa
              ...
46068    Western Sahara
46219             World
46439             Yemen
46659            Zambia
46879          Zimbabwe
Name: Country, Length: 242, dtype: object

In [27]:
from operator import sub

Difference = pd.DataFrame({"Country":list(country), 
             "1800": list(dfp_1800),
             "2019": list(dfp_2019),
             "increment": list(map(sub, list(dfp_1800), list(dfp_2019)))})

ValueError: arrays must all be same length